<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
</head>
<body>
    <div class="main">
        <div class="main-1">
            <img src="https://civilcenteralmaty.kz/upload/photo/20200217/XGhko2HEp458_oN7gFoD6raFhPOdsdil.jpg" alt="" class="img">
            <div class="main-1_text">
                <p class="title"></p>
                <p class="text"></p>
                <p class="author"></p>
            </div>
        </div>
    </div>
</body>
</html>